@{
    ViewBag.Title = "MvcPager示例项目";
}
<h2>MvcPager示例项目</h2>
<div style="height:280px">
<h5>运行环境最低需求：</h5>
<ul><li>Visual Studio 2010 SP1或Visual Studio 2012；</li>
    <li>.Net Framework 4.5；</li>
</ul>
<div style="font-size:14px;line-height: 1.8em">MvcPager 3.0 for ASP.NET MVC 4.0+示例项目分SQL Server数据库版和无数据库版。数据库版需要SQL Server 2008 Express 或　SQL Server LocalDB，
    无数据库版则不使用数据库，示例数据以硬编码的方式直接写在程序代码中，两个示例项目不同之处在于无数据库版没有使用存储过程和DataRows的示例。请根据您的情况点击下面的链接选择您要运行的示例：</div>
<div style="text-align: center;font-size:22px;font-weight: bold;line-height: 2em"><a href="/demo">SQL Server数据库版</a>&nbsp;&nbsp;&nbsp;
        <a href="/nodbdemo/">无数据库版</a></div></div>