@model PagedList<Article>
@Html.Partial("_ArticleTable", Model)
<div class="row">
    <div class="col-md-9">
        @Ajax.Pager(Model, new PagerOptions { PageIndexParameterName = "id",NumericPagerItemCount = 8,ContainerTagName = "ul", CssClass = "pagination", CurrentPagerItemTemplate = "<li class=\"active\"><a href=\"#\">{0}</a></li>", DisabledPagerItemTemplate = "<li class=\"disabled\"><a>{0}</a></li>", PagerItemTemplate = "<li>{0}</li>", PageIndexBoxId = "pageIndexBox", GoToButtonId = "goToBtn" }).AjaxOptions(a => a.SetUpdateTargetId("articles"))
    </div>
    <div class="col-md-3">
        <div class="input-group" style="margin:20px 0">
            <select id="pageIndexBox" class="form-control input-sm"></select>
            <span class="input-group-btn"><button class="btn btn-primary btn-sm" id="goToBtn">跳转</button></span>
        </div>
    </div>
</div>