@{
    ViewBag.Title = "MvcPager分页示例项目运行说明";
}

<h2>MvcPager分页示例项目运行说明</h2>
<h5>运行环境最低需求：</h5>
<ul><li>Visual Studio 2010 SP1或Visual Studio 2012；</li>
    <li>.Net Framework 4.5；</li>
    <li>SQL Server 2008 Express 或　SQL Server LocalDB；</li>
</ul>
若因数据库版本问题无法连接数据库或数据库连接出错，请打开App_Data目录下的db.sql，自己生成数据库，或直接运行<a href="/NoDbDemo/">无数据库版示例项目</a>。