@{
    ViewBag.Title = "MvcPager demos";
}
<h2>MvcPager demos</h2>
<h5>System requirements:</h5>
    <ul><li>Visual Studio 2012 or 2013;</li>
        <li>.Net Framework 4.5;</li>
    </ul>
    If you have SQL Server localdb installed, please click button bellow to view demos using SQL Server localdb:
    <p><a href="/demo" class="btn btn-primary">Demos using SQL Server</a></p>
    If you don't have SQL Server localdb installed or can not connect to demo database, please click button bellow to view demos using XML file as data source:
<p><a href="/xmldemo/" class="btn btn-danger">Demos using XML file</a></p>
<div>Please <a href="http://en.webdiyer.com/mvcpager/" target="_blank">visit official site</a> for the latest demos.</div>
