CREATE TABLE [dbo].[Orders] (
    [OrderId]      INT          NOT NULL PRIMARY KEY,
    [OrderDate]    DATETIME     NOT NULL,
    [CustomerId]   VARCHAR (50) NULL,
    [CompanyName]  VARCHAR (50) NULL,
    [EmployeeName] VARCHAR (50) NULL
);
go

insert into orders(OrderId,CustomerId,CompanyName,OrderDate,EmployeeName) values(10760,'MAISD','Maison Dewey','1997-12-1 0:00:00','Margaret Peacock')
insert into orders(OrderId,CustomerId,CompanyName,OrderDate,EmployeeName) values(10761,'RATTC','Rattlesnake Canyon Grocery','1997-12-2 0:00:00','Steven Buchanan')
insert into orders(OrderId,CustomerId,CompanyName,OrderDate,EmployeeName) values(10762,'FOLKO','Folk och fä HB','1997-12-2 0:00:00','Janet Leverling')

