@{
    ViewBag.Title = "MvcPager demo using sql server database";
}

<h5>System requirements:</h5>
<ul><li>Visual Studio 2012 or 2013;</li>
    <li>.Net Framework 4.5;</li>
    <li>SQL Server 2008 Express or　SQL Server LocalDB;</li>
</ul>
If you can not connect to demo database, please open db.sql file in App_Data folder and create your own database, or run <a href="/nodbdemo/">Demo without database</a> to see it in action.