@{
    ViewBag.Title = "Page navigation using Javascript API (HtmlPager)";
    ViewBag.Description = "This sample demonstrates using goToPage function of Javascript API to jump to a specified page.";
}
@model PagedList<Order>
    <div class="well well-sm">
        <div class="input-group" style="width:35%">
            <span class="input-group-addon">Go to page</span>
            <input type="text" id="pagebox" class="form-control input-sm" />
            <span class="input-group-btn"><button class="btn btn-primary btn-sm" id="goBtn">Go</button></span>
        </div>
    </div>
<div id="errormsg"></div>
    @{Html.RenderPartial("_DataTable", Model);}
    <div class="text-center">
        @Html.Pager(Model, new PagerOptions { PageIndexParameterName = "id", Id = "htmlPager", FirstPageText = "<<", LastPageText = ">>", NextPageText = ">", PrevPageText = "<", ContainerTagName = "ul", CssClass = "pagination pagination-sm",CurrentPagerItemTemplate = "<li class=\"active\"><a href=\"#\">{0}</a></li>", DisabledPagerItemTemplate = "<li class=\"disabled\"><a>{0}</a></li>", PagerItemTemplate = "<li>{0}</li>" })
    </div>
@section Scripts{@{Html.RegisterMvcPagerScriptResource();}
    <script type="text/javascript">
        $(function() {
            $("#goBtn").click(function () {
                var pager = Webdiyer.MvcPagers.getById("htmlPager");
                if (pager != null) {
                    pager.goToPage($("#pagebox").val());
                } else { alert("Can not find the specified MvcPager!"); }
            });
        });
    </script>
}

@section Description{
<p>goToPage function from MvcPager Javascript API can enforce page index validation, if page index passed to goToPage function is not valid integer or is out of range (less that 1 or greater than total page count), the Javascript function that specified in the PagerOptions.OnPageIndexError property will be called to handle this error.</p>
<p class="text-danger">Before calling functions form Javascript API, you must add the jQuery library and use Html.RegisterMvcPagerScriptResource method to register the MvcPager jQuery plugin.</p>
}