@{
    ViewBag.Title = "MvcPager demos without using database";
}


<div>This demo project get test data from xml file instead of database in case you can not connect to demo database and need to see MvcPage in action.</div>