CREATE TABLE [dbo].[Articles] (
    [ID]      INT            IDENTITY (1, 1) NOT NULL,
    [Title]   NVARCHAR (200) NULL,
    [Content] NVARCHAR (MAX) NULL,
    [PubDate] DATETIME       NOT NULL,
    [Author]  NVARCHAR (20)  NULL,
    [Source]  NVARCHAR (20)  NULL,
    CONSTRAINT [PK_dbo.Articles] PRIMARY KEY CLUSTERED ([ID] ASC)
);

SET IDENTITY_INSERT [dbo].[Articles] ON
INSERT INTO [dbo].[Articles] ([ID], [Title], [Content], [PubDate], [Author], [Source]) VALUES (1, N'测试文章标题', N'这是文章内容', N'2013-04-08 00:00:00', N'杨涛', N'吴起政府网')
INSERT INTO [dbo].[Articles] ([ID], [Title], [Content], [PubDate], [Author], [Source]) VALUES (2, N'延安市吴起县', N'<p>
	吴起县位于陕西省延安市的西北部，西北邻定边县，东南接志丹县，东北边靖边县，西南毗邻甘肃华池县。地处东经107°38′57″至108°32′49″，北纬36°33′33″至37°24′27″之间。南北长93.4公里，东西宽79.89公里，总面积3791.5平方公里。吴起县地貌属黄土高原梁状丘陵沟壑区，海拔在1233—1809米之间。境内有无定河与北洛河两大流域，地形主体结构可概括为“八川二涧两大山区”。从98年开始实施退耕还林政策，林草覆盖率达到49.6%。
</p>', N'2013-04-26 00:00:00', N'杨涛', N'吴起热线')
INSERT INTO [dbo].[Articles] ([ID], [Title], [Content], [PubDate], [Author], [Source]) VALUES (3, N'陕西省延安市吴起县', N'第三篇文章内容', N'2013-06-01 00:00:00', N'Webdiyer', N'吴起热线')
SET IDENTITY_INSERT [dbo].[Articles] OFF
